:root {
    --serif: 'Arapey', serif;
    --sans: 'Work Sans', sans-serif;
    --display: 'Aboreto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: #f0dae0;
    color: #3f1521;
}

header, #contact {
    color: #cfd78c;
    background-color: #3f1521;
}

header {
    padding-top: 0.1px;
}

header p {
    font-family: var(--serif);
    font-style: italic;
    font-size: x-large;
    font-weight: lighter;
}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}

.eyebrow {
    display: flex;
    justify-content: space-between;
}

.eyebrow span {
    font-family: var(--sans);
    font-style: normal;
    font-weight: lighter;
    font-size: large;
    color: #cfd78c;
}

.section {
    padding: 25px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: var(--display);
    font-weight: lighter;
    font-size: 3vw;
}

p {
    font-family: var(--sans);
    font-size: large;
}

h2 {
    font-family: var(--serif);
    font-style: italic;
    font-weight: lighter;
    font-size: 2.3vw;
}

.section-links {
    display: flex;
    gap: 30px;
}

.section-links a {
    color: #f0dae0;
    font-family: var(--sans);
    font-size: x-large;
    font-weight: lighter;
    text-decoration: none;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 63vh;
}

.project-card {
    box-shadow: 0 0 0 1px #3f1521;
    width: 100%;
    height: 30vh;
    /* padding: 15px; */
    color:#cfd78c;
    /* background-color: #3f1521; */
    box-shadow: 0 0 5px #3f1521;
}

.project-card h2 {
    font-family: var(--display);
    font-style: normal;
    font-weight: normal;
    font-size: x-large;
}

.project-card .upper-card {
    background-color: #3f1521;
    padding-top: .1px;
    padding: 15px;
}

.project-card .lower-card {
    color: #3f1521;
    padding: 15px;
}

.project-card:hover {
    box-shadow: 0 0 10px #3f1521;
}

#contact {
    height: 30vh;
}

.contact-links {
    display: flex;
    gap: 15px;
}

.contact-links a {
    color:#3f1521;
    background-color: #f0dae0;
    font-family: var(--sans);
    padding: 15px;
    text-decoration: none;
}

.contact-links a:hover {
    background-color: #3f1521;
    color:#f0dae0;
    box-shadow: 0 0 0 1px #f0dae0;
}

